<a href="https://colab.research.google.com/github/dipesh261/pymodule-starter/blob/main/Project_python_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Retail dataset of a global superstore for 4 years.
Perform EDA

Row ID
Row ID


Order ID
Order ID


Order Date
Order Date


Ship Date
Ship Date


Ship Mode
Ship mode


Customer ID
Customer ID


Customer Name
Customer Name


Segment
Segment


Country
Country


City
City


State
State


Postal Code
Postal Code


Region
Region


Product ID
Product ID


Category
Category


Sub-Category
Sub-Categort


Product Name
Product Name


Sales
Sales

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [ ]:
.


















0path= '/content/drive/MyDrive/Python Project file/train.csv'
df= pd.read_csv(path)

In [ ]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [ ]:
df.count()

Row ID           9800
Order ID         9800
Order Date       9800
Ship Date        9800
Ship Mode        9800
Customer ID      9800
Customer Name    9800
Segment          9800
Country          9800
City             9800
State            9800
Postal Code      9789
Region           9800
Product ID       9800
Category         9800
Sub-Category     9800
Product Name     9800
Sales            9800
dtype: int64

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []

In [ ]:
df = df.drop_duplicates()
df.head()

  Order Date   Sales
0 2017-11-08  261.96
1 2017-06-12   14.62
2 2016-10-11  957.58
3 2017-12-01  500.00
4 2017-03-15  320.40

In [ ]:
df.isnull().sum()

Order Date    0
Sales         0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

Order Date    0
Sales         0
dtype: int64

In [ ]:
df.describe()

                Order Date       Sales
count                    5    5.000000
mean   2017-06-09 14:24:00  410.912000
min    2016-10-11 00:00:00   14.620000
25%    2017-03-15 00:00:00  261.960000
50%    2017-06-12 00:00:00  320.400000
75%    2017-11-08 00:00:00  500.000000
max    2017-12-01 00:00:00  957.580000
std                    NaN  351.500016

In [ ]:
# 1. How many unique customer IDs are present in the dataset?
unique_customers = df['Customer ID'].nunique()
print("Unique Customers:", unique_customers)

Unique Customers: 793

In [ ]:
# 2.What is the total sales amount in the dataset?
total_sales = df['Sales'].sum()
print("Total Sales:", total_sales)

Total Sales: 2261536.7827000003

In [ ]:
#3.Average sales amount per order
average_sales_per_order = df.groupby('Order ID')['Sales'].sum().mean()
print("Average Sales per Order:", average_sales_per_order)

Average Sales per Order: 459.4751691791955

In [ ]:
# 4. Orders placed in each region
orders_per_region = df.groupby('Region')['Order ID'].nunique()
print("Orders per Region:")
print(orders_per_region)

Orders per Region:
Region
Central    1156
East       1369
South       810
West       1587
Name: Order ID, dtype: int64

In [ ]:
#5.Distribution of orders by ship mode
order_distribution_by_ship_mode = df['Ship Mode'].value_counts()
print("Order Distribution by Ship Mode:")
print(order_distribution_by_ship_mode)

Order Distribution by Ship Mode:
Ship Mode
Standard Class    5859
Second Class      1902
First Class       1501
Same Day           538
Name: count, dtype: int64

In [ ]:
# 6. City with the maximum number of orders
city_with_max_orders = df['City'].value_counts().idxmax()
print("City with the Maximum Number of Orders:", city_with_max_orders)

City with the Maximum Number of Orders: New York City

In [ ]:
# 7. State with the highest sales revenue
state_with_highest_sales = df.groupby('State')['Sales'].sum().idxmax()
print("State with the Highest Sales Revenue:", state_with_highest_sales)

State with the Highest Sales Revenue: California

In [ ]:
# 8. Total products sold in the "Furniture" category
furniture_products_sold = df[df['Category'] == 'Furniture']['Product ID'].nunique()
print("Total Products Sold in Furniture Category:", furniture_products_sold)

Total Products Sold in Furniture Category: 375

In [ ]:
# 9. Percentage of total sales from the "Corporate" segment
total_sales_corporate = df[df['Segment'] == 'Corporate']['Sales'].sum()
total_sales_percentage_corporate = (total_sales_corporate / df['Sales'].sum()) * 100

In [ ]:
total_sales_percentage_corporate

30.44363815201898

In [ ]:
#10. Orders shipped on the same day as the order date
orders_shipped_same_day = df[df['Ship Date'] == df['Order Date']]['Order ID'].nunique()
print("Orders Shipped on the Same Day as Order Date:", orders_shipped_same_day)

Orders Shipped on the Same Day as Order Date: 249

In [ ]:
#11. Unique products listed
unique_products = df['Product ID'].nunique()
print("Unique Products Listed:", unique_products)

Unique Products Listed: 1861

In [ ]:
#12. Most frequently purchased sub-category
most_frequent_sub_category = df['Sub-Category'].value_counts().idxmax()
print("Most Frequently Purchased Sub-Category:", most_frequent_sub_category)

Most Frequently Purchased Sub-Category: Binders

In [ ]:
#13. Customer with the highest number of orders
customer_with_highest_orders = df['Customer ID'].value_counts().idxmax()
print("Customer with the Highest Number of Orders:", customer_with_highest_orders)

Customer with the Highest Number of Orders: WB-21850

In [ ]:
#14. Average sales amount per category
average_sales_per_category = df.groupby('Category')['Sales'].mean()
print("Average Sales Amount per Category:")
print(average_sales_per_category)

Average Sales Amount per Category:
Category
Furniture          350.653790
Office Supplies    119.381001
Technology         456.401474
Name: Sales, dtype: float64

In [ ]:
#15. Mlesedian sales value for the "Office Supplies" category
median_sales_office_supplies = df[df['Category'] == 'Office Supplies']['Sales'].median()
print("Median Sales Value for Office Supplies Category:", median_sales_office_supplies)

Median Sales Value for Office Supplies Category: 27.36

In [ ]:
#16. Sales distribution across regions
sales_distribution_by_region = df.groupby('Region')['Sales'].sum()
print("Sales Distribution by Region:")
print(sales_distribution_by_region)

Sales Distribution by Region:
Region
Central    492646.9132
East       669518.7260
South      389151.4590
West       710219.6845
Name: Sales, dtype: float64

In [ ]:
#17. Top 5 products by sales
top_5_products_by_sales = df.groupby('Product Name')['Sales'].sum().nlargest(5)
print("Top 5 Products by Sales:")
print(top_5_products_by_sales)

Top 5 Products by Sales:
Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
Name: Sales, dtype: float64

In [ ]:
#18. Total sales for each shipping mode
total_sales_by_shipping_mode = df.groupby('Ship Mode')['Sales'].sum()
print("Total Sales by Shipping Mode:")
print(total_sales_by_shipping_mode)

Total Sales by Shipping Mode:
Ship Mode
First Class       3.455723e+05
Same Day          1.252190e+05
Second Class      4.499142e+05
Standard Class    1.340831e+06
Name: Sales, dtype: float64

In [ ]:
#19. Top 3 customers with the highest total sales
top_3_customers_by_sales = df.groupby('Customer ID')['Sales'].sum().nlargest(3)
print("Top 3 Customers by Sales:")
print(top_3_customers_by_sales)

Top 3 Customers by Sales:
Customer ID
SM-20320    25043.050
TC-20980    19052.218
RB-19360    15117.339
Name: Sales, dtype: float64

In [ ]:
#20. Region with the least total sales
region_with_least_sales = df.groupby('Region')['Sales'].sum().idxmin()
print("Region with the Least Total Sales:", region_with_least_sales)

Region with the Least Total Sales: South